header.header
    .container.header__container
        img(src="./img/logo.svg", alt="").header__logo
        .header__lan
            a(href="#").header__lan-item.header__lan-item_active РУ
            a(href="#").header__lan-item УКР
