@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Core Sans G';
    src: url('CoreSansG-Regular.woff2') format('woff2'),
        url('CoreSansG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

